.container {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  
    h1 {
      font-size: 300%;
      color: rgb(255, 255, 255);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      align-items: center;
    }
    
  
    p {
      font-size: 100%;
      color: rgb(0, 0, 0);
      background: rgb(172, 172, 172);
      align-items: left;
    }

    h2 {
      font-size: 100%;
    }
  }