.container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
position: relative;
background: rgb(112, 112, 112);
height: 25px;
padding-top: 5px;

  }

a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  align-items: center;
}



