.container {
display: flex;
flex-direction: row;
justify-content: space-around;
position: sticky;

  }

a {
  font-family: Arial, Helvetica, sans-serif;
  color: maroon;
  text-decoration: none;
  background: rgb(164,164,164);
  background: radial-gradient(circle, rgba(164,164,164,1) 0%, rgba(214,214,214,1) 100%);
}



