.container {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
  
    h1 {
      font-size: 52%;
      color: azure;
    }
  
    p {
      font-weight: 700;
      font-size: 25px;
      color: rgb(206, 255, 255);
      padding: 10px;
    }
  }